<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="miembro.image" style="width: 150px" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title mt-3 fuente"><strong>{{miembro.name}}</strong></h5>
        <p class="card-text fuente">{{miembro.species}}</p>
        <p class="card-text fuente">{{miembro.gender}}</p>
        <p class="card-text fuente">{{miembro.ancestry}}</p>
        <p class="card-text fuente">{{miembro.dateOfBirth}}</p>
      </div>
    </div>
  </div>
</div>
